server:
  port: 8088
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/spring_cache_demo?useSSL=false&serverTimezone=UTC
    username: root
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: orderservice
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848  # Nacos 服务器地址
        # service: userservice       # 可选：若不配置，默认使用 spring.application.name 的值
        cluster-name: HZ # 集群名称
        username: nacos
        password: nacos
        namespace: e05e812f-cf2c-4376-b0e6-c2e07f63171b
      config:
        server-addr: localhost:8848
        username: nacos
        password: nacos
        namespace: e05e812f-cf2c-4376-b0e6-c2e07f63171b
        file-extension: yaml
mybatis:
  type-aliases-package: cn.itcast.user.pojo
  configuration:
    map-underscore-to-camel-case: true
logging:
  level:
    cn.itcast: debug
  pattern:
    dateformat: MM-dd HH:mm:ss:SSS
#eureka:
#  client:
#    service-url:  # eureka的地址信息
#      defaultZone: http://127.0.0.1:10086/eureka
userservice:
  ribbon:
    NFLoadBalancerRuleClassName: com.alibaba.cloud.nacos.ribbon.NacosRule # 负载均衡规则
#ribbon:
#  eager-load:
#    enabled: true # 开启饥饿加载
#    clients: # 指定饥饿加载的服务名称
#      - userservice
feign:
  httpclient:
    enabled: true # 支持HttpClient的开关
    max-connections: 200 # 最大连接数
    max-connections-per-route: 50 # 单个路径的最大连接数